<!DOCTYPE html>
<html>
<head>
  <title>Onokaukau Yum!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="<%= asset_path( 'favicon.png' ) %>" />
</head>
<body>

  <%= yield %>

  <footer>
    <a target="_blank" href="https://www.facebook.com/ONO-KAU-KAU-531599183532648/">Ono Kau Kau Website</a>
  </footer>
</body>
</html>
